<h1>Package Selected</h1>

<h2>Name : {{name}}</h2>
<h2>Price : {{price}}</h2>
<h2>Validity : {{validity}}</h2>
<h2>Max Vehicles Listed : {{maxVehicleListed}}</h2>
<h2>Max Views Allowed : {{maxViewsAllowed}}</h2>

<h1>Logged in as {{username}}</h1>